<div class="row bg-dark">
  <div class="logo col">
    <h2 class="text-muted">//logo here</h2>
  </div>
  <div class="title col">
    <h1 class="text-light">Invoice</h1>
  </div>
  <div class="account-info col">
    <div class="dropdown">
      <button class="btn btn-info" type="button" id="account-drop-down" data-toggle="dropdown">
        Account
      </button>
      <div class="dropdown-menu" aria-labelledby="account-drop-down">
        <button id="change-password-btn" class="dropdown-item">Change Password</button>
        <button id="sign-out-btn" class="dropdown-item">Sign Out</button>
      </div>
    </div>
  </div>
</div>