<form id="create-invoice-form">
  <input name="invoice[service]" type="text" placeholder="service">
  <input name="invoice[price]" type="text" placeholder="price">
  <input type="submit" value="create">
</form>
<button id="invoice-create-form-cancel">cancel</button>