<table class="table">
  <thead>
    <th scope="col">#</th>
    <th scope="col">service</th>
    <th scope="col">price</th>
  </thead>
  <tbody>
    {{#each invoices as |invoice|}}
      <th scope="row">invoice.id</th>
      <td>invoice.service</td>
      <td>invoice.price</td>
    {{/each}}
  </tbody>
</table>