<form id="change-password">
  <input name="passwords[old]" type="text" placeholder="old password">
  <input name="passwords[new]" type="password" placeholder="new password">
  <input type="submit" value="change">
</form>
<button id="change-password-cancel">cancel</button>