<div class="modal fade" data-backdrop="static" id="sign-in-modal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sign-in-modal-label">Login</h5>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="sign-in-form-email">Email address</label>
            <input name="credentials[email]" id="sign-in-form-email" type="text" placeholder="Enter email"
              class="form-control">
          </div>
          <div class="form-group">
            <label for="sign-in-form-password">Password</label>
            <input name="credentials[password]" id="sign-in-form-password" type="password" placeholder="password"
              class="form-control">
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="sign-in-form-check-box" checked disabled>
            <label class="custom-control-label" for="sign-in-form-check-box">remember me</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary submit col-12">continue</button>
        <button type="button" class="btn btn-secondary sign-up-btn col-12">create account</button>
      </div>
    </div>
  </div>
</div>