<form id="sign-up">
  <input name="credentials[email]" type="text" placeholder="email">
  <input name="credentials[password]" type="password" placeholder="password">
  <input name="credentials[password_confirmation]" type="password" placeholder="password confirmation">
  <input type="submit" value="sign-up">
</form>